
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;}

p, li, textarea, label, input, select {
  /* Default font size and line height */
  font-size: 16px;
  color: #231f20;
  text-align: justify;
}

.header {
  text-align: center
}

h1 {
   /* Default font, size, and margins */
 color: white;
 font-size: 88px;
 font-weight: 900;
}

h2 {
  /* Default font, size, and margins */
color: white;
font-size: 38px;
font-weight: 900;
}

h3 {
  /* Default font, size, and margins */
  font-size: 40px;
  text-align: center;
  font-weight: 900;


}

h4 {
  /* Default font, size, and margins */
  font-size: 24px;
  color: #231f20;
  font-weight: 800;
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/

.header_title {
background-color: #fcce00;
margin-top: 8px;
margin-bottom: 8px;
}

@media screen and (max-width: 780px){
}

.header_subtitle {
  background-color: #ff6b00;
  margin-bottom: 8px;
  margin-top: 0px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.header_deco-red {
height: 32px;
background-color: #e02020;
margin-bottom: 8px;
}

.header_deco-violet{
  height: 16px;
  background-color: #b620e0;
  margin-bottom: 8px;
}

.header_deco-bleu{
  height: 8px;
  background-color: #6236ff;
  margin-bottom: 8px;
}

.bloc_paragraphe-illu {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  } 

.bloc_paragraphe,
.bloc_illu{
flex-basis: 320px;
flex-grow: 1;
}

.paragraphe-title {
  text-align: center;
  font-weight: 800;
  margin: 0;
}

.bloc_paragraphe{
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 0;
  padding-left: 32px;
}

.paragraphe {
  text-align: justify; 
}

.bloc_illu{
  background-image: url(../img/bg-yellow.png);
  background-position: left top;
  background-size: auto 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.illu{
  mix-blend-mode: multiply;
  display: block;
  max-width: 70%;
}


.button1 {
border: solid 4px #fcce00;
border-radius: 15px;
display: block;
max-width: 200px;
margin-left: auto;
font-size: 20px;
font-weight: bold;
font-style: normal;
text-align: center;
color: #fcce00;
padding: 10px 32px;
}

.bloc_paragraphe-illu2 {
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  } 

.bloc_paragraphe2,
.bloc_illu2{
flex-basis: 320px;
flex-grow: 1;
}

.paragraphe-title2 {
text-align: center;
margin: 0;
}

.bloc_paragraphe2 {
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 0;
  padding-left: 32px;
}

.paragraphe2 {
  text-align: justify; 
}

.bloc_illu2 {
  background-image: url(../img/bg-orange.png);
  background-position: right top;
  background-size: auto 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.illu2 {
  mix-blend-mode:multiply;
  display: block;
  max-width: 70%;
}


.button2 {
border: solid 4px #ff6b00;
border-radius: 15px;
display: block;
max-width: 200px;
margin-left: auto;
font-size: 20px;
font-weight: bold;
font-style: normal;
text-align: center;
color: #ff6b00;
padding: 10px 32px;
}

.bloc-fond {
  background-image: url(../img/bg-red.png);
  background-position: left top;
  background-size: auto 100%;
}

.bloc_paragraphe-illu3 {
display: flex;
max-width: 1200px;
margin-right: auto;
margin-left: auto;
  } 

.bloc_paragraphe3,
.bloc_illu3{
flex-basis: 320px;
flex-grow: 1;
}

.paragraphe-title3 {
  text-align: left;
  font-weight: 900;
  margin: 0;
  font-size: 32px;
  color: white;
}

.bloc_paragraphe3 {
  padding-top: 64px;
  padding-right: 32px;
  padding-bottom: 0;
  padding-left: 60px;
}

.paragraphe3 { 
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin-top: 32px;
  margin-bottom: 32px;
}

.bloc_illu3 {
  display: flex;
  justify-content: flex-end;
}

.illu3 {
  mix-blend-mode: multiply;
  display: block;
  margin-top: 18px;
  margin-bottom: 64px;

}

.bouton-blanc {
border: solid 4px #fff;
border-radius: 15px;
display: block;
max-width: 200px;
font-size: 20px;
font-weight: bold;
font-style: normal;
text-align: center;
color: #fff;
padding: 8px 32px;
}

.bloc-fond2 {
  background-image: url(../img/bg-violet.png);
  background-position: left top;
  background-size: auto 100%;
}

.bloc_paragraphe-illu4 {
display: flex;
max-width: 1200px;
margin-right: auto;
margin-left: auto;
  } 

.bloc_paragraphe4,
.bloc_illu4{
flex-basis: 320px;
flex-grow: 1;
}

.paragraphe-title4 {
  text-align: left;
  font-weight: 900;
  margin: 0;
  font-size: 32px;
  color: white;
}

.bloc_paragraphe4 {
  padding-top: 64px;
  padding-right: 32px;
  padding-bottom: 0;
  padding-left: 60px;
}

.paragraphe4 {
  color: white;
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.bloc_illu4 {
  display: flex;
  justify-content: flex-end;
}

.illu4 {
  mix-blend-mode: multiply;
  display: block;
  margin-top: 18px;
  margin-bottom: 64px;
}

.bloc-fond3 {
  background-image: url(../img/bg-blue.png);
  background-position: left top;
  background-size: auto 100%;
}

.bloc_paragraphe-illu5 {
display: flex;
max-width: 1200px;
margin-right: auto;
margin-left: auto;
  } 

.bloc_paragraphe5,
.bloc_illu5{
flex-basis: 320px;
flex-grow: 1;
}

.paragraphe-title5 {
  text-align: left;
  font-weight: 900;
  margin: 0;
  font-size: 32px;
  color: white;
}

.bloc_paragraphe5 {
  padding-top: 64px;
  padding-right: 32px;
  padding-bottom: 0;
  padding-left: 60px;
}

.paragraphe5 {
  color: white;
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.bloc_illu5 {
  display: flex;
  justify-content: flex-end;
}

.illu5 {
  mix-blend-mode: multiply;
  display: block;
  margin-top: 18px;
  margin-bottom: 64px;
}

.dernieres-sorties-contact {
background-color: #231f20;
padding: 0 34px 34px 34px
}

.dernieres-sorties-title {
color: white;
padding-top: 64px;
padding-bottom: 64px;
margin: 0px;
}

.grille {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 32px;
  justify-items: center;
  justify-content: center;
}

.jeu1 {
width: 100%; 
position: relative;
}

.game-content1 {
position: absolute;
top: 0;
right:0;
left: 0;
bottom: 0;
background-color: rgba(0, 0, 0, .80);
border-radius: 12px;
padding: 16px;
opacity: 0;
transition: opacity 200ms;  
}

.jeu1:hover .game-content1{
  opacity: 1;
}

.game-content1 > * {
transform: translateY(30px);
transition: transform 200ms;
}

.jeu1:hover .game-content1>*{
transform: translateY(10px);
}

.game-categorie {
  font-size: 14px;
  text-align: center;
  color: white;
  font-weight: 200;
}

.game-title-jaune {
  font-size: 32px;
  text-align: center;
  color: #fcce00;
  font-weight: bold;
}

.game-description {
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: 300;
}

.image-jeu {
  width: 100%;
}

.jeu2 {
  width: 100%; 
  position: relative;
  }

.game-content2 {
position: absolute;
top: 0;
right:0;
left: 0;
bottom: 0;
background-color: rgba(0, 0, 0, .80);
border-radius: 12px;
padding: 16px;
opacity: 0;
transition: opacity 200ms;
}

.jeu2:hover .game-content2{
  opacity: 1;
}

.game-content2 > * {
  transform: translateY(30px);
  transition: transform 200ms;
  }
  
  .jeu2:hover .game-content2>*{
  transform: translateY(10px);
  }

.game-title-orange {
font-size: 32px;
text-align: center;
color: #ff6b00;
font-weight: bold;
margin-top: 8;
}

.formulaire {
  display: flex
  justify-content: center;
  align-items: center;
}
  
.nom {
}

.email {
}

.sujet {
}

.message {
}

label {
  color: white;
}
/**
* ----------
* Components
* ----------
*/