
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

.header {
  text-align: center
}

h1 {
   /* Default font, size, and margins */
 color: white;
 font-size: 88px;
 font-weight: 900;
}

h2 {
  /* Default font, size, and margins */
color: white;
font-size: 38px;
font-weight: 900;
}

h3 {
  /* Default font, size, and margins */
  font-size: 40px;
  text-align: center;
  font-weight: 900;


}

h4 {
  /* Default font, size, and margins */
  font-size: 24px;
  color: #231f20;
  text-align: center;
  font-weight: 800;
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/

.header_title {
background-color: #fcce00;
margin-top: 8px;
margin-bottom: 8px;
}

.header_subtitle {
  background-color: #ff6b00;
  margin-bottom: 8px;
  margin-top: 0px;
  padding-top: 6px;
  padding-bottom: 5px;
}

.header_deco-red {
height: 32px;
background-color: #e02020;
margin-bottom: 8px;
}

.header_deco-violet{
  height: 16px;
  background-color: #b620e0;
  margin-bottom: 8px;
}

.header_deco-bleu{
  height: 8px;
  background-color: #6236ff;
  margin-bottom: 8px;
}

.bloc_paragraphe-img {
  display: flex;
  } 

.bloc_paragraphe{
width: 50%;
padding-left: 500px;
padding-right: 32px;
}

.bloc_img{
width: 50%;
}

.paragraphe{
  font-size: 16px;
  text-align: justify;
 
}

.button1 {
border: solid 4px #fcce00;
border-radius: 15px;
display: block;
max-width: 200px;
margin-left: auto;
font-size: 20px;
font-weight: bold;
font-style: normal;
text-align: center;
color: #fcce00;
padding: 10px 32px;

}
/**
* ----------
* Components
* ----------
*/